$blue: rgb(49, 17, 192);
$white: #f7f7f7;

.modal-btn {
  background-color: $blue;
  color: $white;
  border: none;
  padding: 18px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
}

.modal-btn:hover {
  background-color: rgb(89, 58, 224);
}

.modal-wrap-close {
  display: none;
}

.modal-wrap-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 18px 16px;
  border-radius: 10px;
  width: 360px;
  height: 90px;
  text-align: center;
  margin-top: 20vh;
}

.close-wrap {
  display: flex;
  justify-content: end;

  span {
    cursor: pointer;
  }
}