@mixin flex-box {
  display: flex;
  flex-direction: column;
  // background-color: #888;
  justify-content: center;
  align-items: center;
  margin: 30px 0 50px 0;
}

.App {
  background-color: #f1f1f1;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  color: #333;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: #fff;
  width: 70vw;
  max-width: 960px;
}

h2 {
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-box {
  @include flex-box
}